$primary-blue: #17114e;
$primary-yellow: #ffd17e;
$text-color-white: #fff;
$text-placeholder-color: #9cafbb;
.input::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
}

.input:-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
}

.input:-moz-placeholder {
    font-family: "Montserrat", sans-serif;
}

.input::-moz-placeholder {
    font-family: "Montserrat", sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}

button {
  width: 300px;
  height: 65px;
  background-color: $primary-blue;
  color: $text-color-white;
  border: 0;
  border-radius: 60px;
  font-size:25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
@mixin rounded($size,$radius:0){
  width: $size;
  height: $size;
  @if $radius!=0 {
    border-radius: $radius;
  }
}